<h1>Editing question</h1>
<%= render 'form' %>
<%= link_to 'show', @question, class: "fa fa-search-plus fa-2x" %>
<%= link_to 'Back', questions_path, class: "fa fa-reply fa-2x" %>
<% content_for(:title) do %>
    Edit question
<% end %>
